html{overflow-y:scroll;}

body{
  font-size:15px;
  color:#000000;
  background-color:#f0f0f0;
  margin:15px;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input{
  font-family:verdana,helvetica,arial,sans-serif;
}


h1,h2,h3,h4,h5,h6{
background-color:transparent;
color:rgb(10,10,10);
font-weight:bold;
}

h1 {font-size:190%;margin-top:0px;}
h2 {font-size:160%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:120%;font-weight:normal;margin-top:4px;margin-bottom:4px;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

ul {list-style-type: none;}
p {text-indent: 3em;}


span.entityColor      {color:rgb(0,100,200);font-weight:bold;}
span.attributeColor {color:rgb(0,100,50);font-weight:bold;}
span.relationColor   {color:rgb(160,0,30);font-weight:bold;}

table.nodelist{
text-align:left;
background-color:#ffffff;
padding:4px;
border:1px solid #d4d4d4;
width:100%;
margin-bottom:4px;
}

td.name{width:100px;font-style:italic;}
